/* General */
/* Estilos generales para todos los dispositivos */
:root{
    --Principal : #430E7F;
    --Principal1 : #340768;
    --Principal2 : #25034B;
    --Principal3 : #1E023D;
    --Principal-1 : #8C55CB;
    --Principal-2 : #6D3CA5;
    --Principal-3 : #8C55CB;
    --Acento : #B700FF;
    --Sombra :  ;
    --Blanco : #E0E0E0;
}
.fontOpen1{
    line-height: normal;
    font-family: Open Sans;
    font-style: normal;
}
.fontOpen2{
    line-height: normal;
    font-family: Open Sans;
    font-style: normal;
}
.fontOpen3{
    line-height: normal;
    font-family: Open Sans;
    font-style: normal;
}
.fontRoboto1{
    line-height: normal;
    font-family: Roboto;
    font-style: normal;
}
.fontRoboto1{
    line-height: normal;
    font-family: Roboto;
    font-style: normal;
}
.fontRoboto1{
    line-height: normal;
    font-family: Roboto;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}
#fondo{
    background-color: var(--Principal2);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%2325034B'/%3E%3Cstop offset='1' stop-color='%231E023D'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
#fondo1{
    background-color: var(--Principal2);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23230046' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%232f0052' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%233b075e' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%2348156a' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23552277' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
#content{
}
.svg {
    background: transparent;
    background-color: transparent;
    fill: none;
}
.png{
    background: transparent;
    background-color: transparent;
    fill: none;
}
.desaparecer{
    display: none;
}
.rotated {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}

.rotated.open {
    transform: rotate(180deg);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(90deg); /* Gira 90 grados a la mitad de la animación */
    }
    100% {
        transform: rotate(180deg); /* Gira 180 grados al final de la animación */
    }
}
/* Fin General */



/* Header */
#header{
    position: sticky;
    top: 0;
    left: 0;
    background: var(--Principal1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: auto auto;
    align-items:center;
    align-content: center;
    height: 100px;
    width:100%;
}
.right {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alinea los elementos a la derecha */
    width: 100%;
    height: 100%;
    
}
.left {
    display: flex;
    align-items: center;
}
#menuUser{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 85px;
    height: auto;
    margin-left: 3%;
    margin-right: 3%;

}
#logo{
    max-width: 145px;
    height: auto;
    padding:10px;
}
.menu-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.user-mario {
    width: 80%;
    height: 40%;
    display: flex;
    align-items: left;
    justify-content:space-evenly;
    flex-direction: column;
    
}
.botHeader{
    width: 8%;
    height: auto;
    background-color: transparent;
    border: none;
    margin-left: 3%;
    margin-right: 3%;
    transition: transform 0.3s ease-in-out;
}
.botHeader:hover{
    transform: scale(1.1);
    border: 2px solid var(--Principal2);
    opacity: 80%;
    transition: transform 0.3s ease-in-out, border 0.3s ease-in-out, opacity 0.3s ease-in-out;

}
.imagenHeader{
    width:100%;
    height:auto;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}
/* Fin Header */




/* Menu Usuario */
#menuPerfilUser {
    position: fixed;
    top: 0;
    right: -300px; /* Inicialmente oculto fuera del área visible */
    width: 300px;
    height: 100%;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    transition: right 0.3s ease-in-out; /* Agrega una animación de transición */
}
#menuPerfilUser.cerrado {
    right: -400px; /* Oculta el menú cuando está cerrado */

}
#menuPerfilUser.abierto {
    right: 0; /* Muestra el menú cuando está abierto */

}
#menuPerfilUser p {
    margin: 10px 0;
}
#menuPerfilUser img {
    max-width: 100px; /* Ajusta el tamaño de las imágenes de perfil */
}
#cerrarMenuBtn {
    align-self: end;
    background: none;
    margin-right: 70px;
    margin-top: 30px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 20px; /* Espaciado inferior para separar el botón de cierre */
}
#menuUserBtn {
    width: 120px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
}
#menuUserBtn img {
    width: 80%;
    height: auto;
    margin-right: 10px;
}
/* fin menu usuario*/




/* Menu Hamburguesa */
#menuHamburguesa {
    position: fixed;
    top: 101px;
    z-index: 1;
    left: 0;
    background: var(--Principal1);
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 104px);
    width: fit-content;
    display: flex;
    transition: 500ms;
    box-shadow: 4px 4px 4px 0px rgba(0.25, 0.25, 0.25, 0.25), 4px 4px 4px 0px rgba(0.25, 0.25, 0.25, 0.25);
    
}
#menuHamburguesa.mostrado {
    position: fixed;
    left: -200px;

}
#menuHamburguesa:hover .categoria{
    width: 200px;
}
#menuHamburguesa:hover .categoria p{
    width: 200px;
    opacity: 1;
}
.categoria p{
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    opacity: 0;
    transition: 500ms;
}
.categoria{
    transition: width 500ms ease;
    width: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    border: 2px solid var(--Principal2);
}
.categoria img{
    height: 40px;
    width: auto;
    opacity: 70%;
    position: absolute;
    right: 0;
    margin-right: 10px;
}
#menuHamburguesa.cerrado {
    left: -150px;
}
#menuHamburguesa.abierto {
    left: 0px;
}
/* Fin Menu Hamburguesa */


/* Formulario */


/* Fin de Formulario */






/* Estilos para dispositivos móviles (ancho de pantalla menor o igual a 768px) */
@media (max-width: 768px) {
    
    /* Agregar estilos específicos para dispositivos móviles aquí */


}

/* Estilos para escritorio (ancho de pantalla mayor a 768px) */
@media (min-width: 769px) {

    /* Agregar estilos específicos para escritorio aquí */


    

}