
/* Estilos generales para todos los dispositivos */
:root{
    --Principal : #430E7F;
    --Principal1 : #340768;
    --Principal2 : #25034B;
    --Principal3 : #1C1683;
    --Principal-1 : #1E023D;
    --Principal-2 : #6D3CA5;
    --Principal-3 : #8C55CB;
    --Acento : #B700FF;
    --Sombra :  ;
    --Blanco : #E0E0E0;
}
.fontOpen1{
    line-height: normal;
    font-family: Open Sans;
    font-style: normal;
}
.fontOpen2{
    line-height: normal;
    font-family: Open Sans;
    font-style: normal;
}
.fontOpen3{
    line-height: normal;
    font-family: Open Sans;
    font-style: normal;
}
.fontRoboto1{
    line-height: normal;
    font-family: Roboto;
    font-style: normal;
}
.fontRoboto1{
    line-height: normal;
    font-family: Roboto;
    font-style: normal;
}
.fontRoboto1{
    line-height: normal;
    font-family: Roboto;
    font-style: normal;
}


#fondo{
    background: var(--Principal-1);
}




/* Estilos para dispositivos móviles (ancho de pantalla menor o igual a 768px) */
@media (max-width: 768px) {
    
    /* Agregar estilos específicos para dispositivos móviles aquí */


}

/* Estilos para escritorio (ancho de pantalla mayor a 768px) */
@media (min-width: 769px) {

    /* Agregar estilos específicos para escritorio aquí */

    #header{
        background: var(--Principal1);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content:flex-start ;
        align-items: center;
    }
    

    .logo{
        width: 5%;
        height: auto;
        background-color: transparent;
    }

    .imagen{
        width:100%;
        height:auto;
        object-fit: cover;
        
    }
}
