body {
    padding: 0;
    margin:0;
    background-image: linear-gradient(90deg, #430E7F 20%, #25034B 100%);
  }

.titulo {
    font-size:40px;
    font-family: 'Open Sans', sans-serif;
    padding: 7px;
    font-weight:bolder;
    color: #e6e5e5;
    font-style: italic;
}
.logo-titulo {
    margin-top: 20px;
}
img.menu-hamburguesa {
  background-color: inherit;
}

.navbar {
    overflow: hidden;
    background-image: linear-gradient(135deg, #4B45AA 0%, #25034B 100%);;
    box-shadow: 0px 1px 8px #B700FF;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */

  }
 
.titulo-icon {
    display: flex;
    justify-content:center;
}

  .navbar {
    display: flex;
    justify-content: space-between;
  }
  .icon {
    max-width: 145px;
    max-height: 100px;
    padding:10px;
  }
 
  .dropdown-content {
    justify-content: center;
    flex-direction: column; /* Para que los elementos se apilen verticalmente */
    background-color: #581A9F;
    height: +100vh; /* Altura igual a la pantalla completa */
    width: 50vh; /* Ancho fijo */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0; /* Posiciona el menú a la derecha */
    top: 0; /* Alinea en la parte superior */
    position: fixed; /* Para mantenerlo fijo en la ventana */
    display:none;
}
.dropdown-content.display {
  display: flex;
}

  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 2px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }



 
.user-mario {
    margin-right:50px;
}
.user-name {
  font-size:38;
  font-weight:bold;
}
.user-image {
  margin:20px;
  
}
.user-image img {
  max-width:200px;
}
.user-info {
  display: flex;
  flex-direction: column;
  margin:80px;
 
}
.user-options i{
  display: flex;
  flex-direction: row;
}
.user-options img {
  margin:10px;
}
.cerrar-sesion {
  border-bottom: 1px solid #b0b0b0;
}
.user {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  font-size: 30px;
    color: rgb(218, 218, 218);
}
.cerrar {
  display: flex;
  justify-content: right;
}
img.cerrar-img {
size: 200px;
margin:40px;
}

.sidenav {
  width: 230px;
   position: absolute;
   z-index: 1;
   margin-top:10px;
   top:200px;
   left: -150px;
   background-color:#6D3CA5;
   overflow-x: hidden;
 padding:15px;
 border-radius:2%;
 transition: ease-in-out .3s;
 box-shadow: 0px 1px 10px #B700FF;
 }
 
 .sidenav.remove {
  display:none;
 }

 .sidenav a {
   padding: 6px 8px 6px 20px;
   text-decoration: none;
   font-size: 25px;
   color: #f6f6f6;
   display: block;
   box-shadow: 1px 1px 8px #292829;
   transition: ease-in-out .3s;
   font-family:'Roboto', sans-serif;
 }
 
.sidenav:hover {
  left:0;
  transition: ease-in-out .3s;
  
}
 
 
 
 @media screen and (max-height: 450px) {
   .sidenav {padding-top: 15px;}
   .sidenav a {font-size: 18px;}
 }

.sidenav img.accion,.sidenav img.chicas {
    
margin-left:55px;
margin-right:20px;
}

.sidenav img.deporte { 
    margin-left: 35px;   
}
.sidenav img.ajedrez{
    margin-left: 40px;
}

.sidenav img.dados {
    margin-left:60px;
}





